* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: Monte-Carlo;
  src: url(../fonts/monte-carlo.ttf); 
}

@font-face {
  font-family: Mon Amour Two Medium;
  src: url(../fonts/mon-amour-two-medium.ttf); 
}

body {
  border-style: solid;
  border-width: 81px 79px 88px;
  border-image: url(../img/white_borders.png) 81 79 88 fill stretch;
  background-color: black;
	background-image: url(../img/background.jpg);
}

header {
  text-align: center;
  padding: 10px;
  height: 60px;
}

footer {
  font-size: 15px;
  margin-top: 10%;
  text-align: center;
  color: grey;
}

.oatmeal {
  width: 50px;
  height: 50px;
}

.title {
  font-family: 'Monte-Carlo', arial;
  color: white;
}

.title, .text {
	font-size: 30px;
}

.text, footer {
  font-family: 'Mon Amour Two Medium', arial;
}

.content {
  padding: 7% 0;
}

.stars, #joke {
  color: white;
}

.separating-line { 
  margin: 15px;
  border-color: white; 
}

.footer-hyperlink:link, .footer-hyperlink:visited {
  color: grey;
}

#new-joke {
  background-image: url(../img/button.png);
  width: 374px;
  height: 132px;
  font-size: 30px;
  font-family: 'Mon Amour Two Medium', arial;
  font-weight: bolder;
  color: gray;
  display:block;
  position: relative;
  border: 1px solid grey;
  border-radius: 7px;
  margin:30px auto 0;
}

#new-joke:hover {
  cursor: pointer;
}

#joke-div {
  text-align: center;
  margin: 0 auto;
  width: 40%;
  padding: 20px;
}

#anchor-link {
  text-decoration: none;
}

#footer-hr {
  margin-bottom: 5%;
}

#signature {
  font-weight: bolder;
}



